/.quarto/
**/*.quarto_ipynb
/_site/
/_scripts/
.Rhistory
**/.DS_Store
docs/data/metabarcoding-16s-demo/filtered/
docs/data/rnaseq-demo/_pipe/
docs/data/rnaseq-gse94345/
docs/data/variant-calling-part-2/
_docs/

/.luarc.json
